:root {
    --color-text-base: #323133 !important;
}


.Layout-sc-1xcs6mc-0 .stream-chat-header {
    justify-content: left !important;
    padding-left: 2rem !important;
}

.tw-root--theme-dark .stream-chat-header {
    border-bottom: 1px solid var(--color-background-alt) !important;
}

.tw-root--theme-dark .Layout-sc-1xcs6mc-0.pMQwv {
    border-bottom: 1px solid var(--color-background-alt) !important;
}

.stream-chat-header [data-test-selector="chat-room-header-label"] {
    text-transform: none !important;
}

.jxaBAK, .community-highlight {
    box-shadow: none !important;
}


.chat-wysiwyg-input__box {
    border: 1px solid #dad8de;
    background: #fff;
    color: #433f4a;
    display: block;
    position: relative;
    width: 100%;
    -webkit-transition: border .12s ease-in, -webkit-box-shadow .12s ease-in;
    transition: border .12s ease-in, -webkit-box-shadow .12s ease-in;
    transition: box-shadow .12s ease-in, border .12s ease-in;
    transition: box-shadow .12s ease-in, border .12s ease-in, -webkit-box-shadow .12s ease-in;
    border-radius: 0;
    outline: 0;
    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: vertical;
    -ms-overflow-style: none;
    box-shadow: none !important;
}

.chat-wysiwyg-input__box {
    border: 1px solid var(--color-border-input);
    background-color: var(--color-background-body) !important;
    border-radius: 0 !important;
}

.chat-wysiwyg-input__box .chat-wysiwyg-input__placeholder {
    color: var(--color-text-input) !important;
}

.tw-root--theme-dark .chat-wysiwyg-input__box:hover {
    box-shadow: 0 0 0 var(--input-border-width-default) #392e5c !important;
}

.tw-root--theme-light .chat-wysiwyg-input__box {
    border: 1px solid #dad8de;
    background: #fff;
    color: #433f4a
}

.tw-root--theme-dark .animatedMessageHighlight {
    background: #392e5c !important;
}


.ScCoreButton-sc-ocjdkq-0 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: none;
    font-size: 1.2rem;
    line-height: 2rem;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0 !important;
}

.kIbAir, .gjSLzh {
    background: none !important;
    color: #6441a4 !important;
}

.kIbAir,
.gjSLzh,
.jIBntd,
.cFdOrq
{
    color: var(--color-text-base) !important;
}

.ScCoreButton-sc-ocjdkq-0,.tw-root--theme-dark .ScCoreButton-sc-ocjdkq-0,.tw-theme--light .ScCoreButton-sc-ocjdkq-0 {
    border: 1px solid transparent;
    background: #6441a4;
}

.ScCoreButton-sc-ocjdkq-0:hover {
    text-decoration: none
}

.ScCoreButton-sc-ocjdkq-0:hover,.tw-root--theme-dark .ScCoreButton-sc-ocjdkq-0:hover,.tw-theme--light .ScCoreButton-sc-ocjdkq-0:hover {
    border-color: #7d5bbe;
    background: #7d5bbe;
    color: #fff
}

.ScCoreButton-sc-ocjdkq-0:focus {
    text-decoration: none
}

.ScCoreButton-sc-ocjdkq-0:focus,.tw-root--theme-dark .ScCoreButton-sc-ocjdkq-0:focus,.tw-theme--light .ScCoreButton-sc-ocjdkq-0:focus {
    border-color: #9a7fcc;
    background: #7d5bbe;
    color: #fff;
    -webkit-box-shadow: 0 0 6px 0 #7d5bbe;
    box-shadow: 0 0 6px 0 #7d5bbe
}

.ScCoreButton-sc-ocjdkq-0:active {
    text-decoration: none
}

.ScCoreButton-sc-ocjdkq-0:active,.tw-root--theme-dark .ScCoreButton-sc-ocjdkq-0:active,.tw-theme--light .ScCoreButton-sc-ocjdkq-0:active {
    border-color: #7d5bbe;
    background: #6441a4;
    color: #fff;
    -webkit-box-shadow: 0 0 6px 0 #7d5bbe;
    box-shadow: 0 0 6px 0 #7d5bbe
}

.ScCoreButton-sc-ocjdkq-0__text {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: .4rem .8rem;
    text-align: center
}

.ScCoreButton-sc-ocjdkq-0--hollow {
    border: 1px solid #b19dd8;
    background: transparent;
    color: #6441a4
}

.tw-root--theme-dark .ScCoreButton-sc-ocjdkq-0--hollow {
    border: 1px solid #4b367c;
    background: transparent;
    color: #dad8de
}

.tw-theme--light .ScCoreButton-sc-ocjdkq-0--hollow {
    border: 1px solid #b19dd8;
    background: transparent;
    color: #6441a4
}

.ScCoreButton-sc-ocjdkq-0--hollow:hover {
    border-color: rgba(100,65,164,.5);
    background: rgba(100,65,164,.05);
    color: #2c2541
}

.tw-root--theme-dark .ScCoreButton-sc-ocjdkq-0--hollow:hover {
    border-color: rgba(100,65,164,.4);
    background: rgba(100,65,164,.2);
    color: #efeef1
}

.ScCoreButton-sc-ocjdkq-0--hollow:focus,.tw-theme--light .ScCoreButton-sc-ocjdkq-0--hollow:hover {
    border-color: rgba(100,65,164,.5);
    background: rgba(100,65,164,.05);
    color: #2c2541
}

.ScCoreButton-sc-ocjdkq-0--hollow:focus,.tw-root--theme-dark .ScCoreButton-sc-ocjdkq-0--hollow:focus {
    -webkit-box-shadow: 0 0 6px 0 #7d5bbe;
    box-shadow: 0 0 6px 0 #7d5bbe
}

.tw-root--theme-dark .ScCoreButton-sc-ocjdkq-0--hollow:focus {
    border-color: rgba(100,65,164,.4);
    background: rgba(100,65,164,.2);
    color: #efeef1
}

.tw-theme--light .ScCoreButton-sc-ocjdkq-0--hollow:focus {
    border-color: rgba(100,65,164,.5);
    background: rgba(100,65,164,.05)
}

.ScCoreButton-sc-ocjdkq-0--hollow:active,.tw-theme--light .ScCoreButton-sc-ocjdkq-0--hollow:focus {
    color: #2c2541;
    -webkit-box-shadow: 0 0 6px 0 #7d5bbe;
    box-shadow: 0 0 6px 0 #7d5bbe
}

.ScCoreButton-sc-ocjdkq-0--hollow:active {
    border-color: rgba(100,65,164,.6);
    background: transparent
}

.tw-root--theme-dark .ScCoreButton-sc-ocjdkq-0--hollow:active {
    border-color: rgba(100,65,164,.5);
    background: rgba(100,65,164,.1);
    color: #efeef1;
    -webkit-box-shadow: 0 0 6px 0 #7d5bbe;
    box-shadow: 0 0 6px 0 #7d5bbe
}

.tw-theme--light .ScCoreButton-sc-ocjdkq-0--hollow:active {
    border-color: rgba(100,65,164,.6);
    background: transparent;
    color: #2c2541;
    -webkit-box-shadow: 0 0 6px 0 #7d5bbe;
    box-shadow: 0 0 6px 0 #7d5bbe
}