/* PLAYER BASE */

.gaSyOh.gaSyOh {
    --range-size: 8px !important;
    --color-background-range: black;
    --color-current-range: linear-gradient(rgb(219 182 237), rgb(173 120 253));
}

.player-controls {
    background: none !important;
}

.tw-transition {
    transition: none !important;
}

.Layout-sc-1xcs6mc-0.eeHgUV {
    margin: 0 !important;
}

[data-a-target="player-controls"] {
    background: none;
}

#channel-player {
    background: linear-gradient(rgb(82 82 82), rgb(30 30 30));
    border-bottom: 1px solid black;
    border-top: 1px solid #686868;
    margin: 0 !important;
}

#channel-player .gfthzy {
    margin: 0 !important;
}


/* ################################# */


/* TOP INFO */

.top-bar {
    background: transparent !important;
}

.tw-card {
    display: none !important;
}

[data-a-target="player-stream-info-social-panel"] {
    margin-top: 0 !important;
}


/* ################################# */


/* SEEKER */

[data-a-target="player-controls"] .kIqpCX {
    padding: 0 !important;
}

[data-a-target="player-controls"] .vod-seekbar-time-labels {
    padding-inline: 10px !important;
}

[data-a-target="player-controls"] [data-a-target="player-seekbar"].seekbar-interaction-area {
    padding-bottom: 0 !important;
}

.seekbar-bar,
.seekbar-segment
{
    height: 8px !important;
}


/* ################################# */


/* BUTTONS BASE */

.dcNXJO:hover,
.gGttfb[aria-haspopup="menu"]:hover,
.tw-root--hover .tw-button-icon--overlay:not(.tw-button-icon--disabled):hover,
.tw-root--hover .tw-button-icon--overlay:not(:disabled):hover
{
    filter: brightness(1.25);
    background-color: transparent !important;
}


/* BUTTONS COLOR */

#channel-player [aria-haspopup="menu"] svg {
    color: #b5b5b5;
}

figure.ffz-player-icon {
    color: #b5b5b5;
}


/* VOLUME CONTROL */

.ScRangeFillValue-sc-q01wc3-3.isXtHy {
    background: var(--color-current-range);
}

.ScTransitionBase-sc-eg1bd7-0.tw-transition.volume-slider__slider-container {
    width: 100px;
    opacity: 1;
}

/* CLIPS */

.gGttfb[aria-haspopup="menu"] {
    background-color: transparent !important;
}

.gGttfb[aria-haspopup="menu"] .kaIUar {
    padding: 0 !important;
}

.gGttfb[aria-haspopup="menu"] [data-a-target="tw-core-button-label-text"] {
    display: none !important;
}


/* ################################# */


/* VIEWING VODS */

.Layout-sc-nxg1ff-0.fcSUKA {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.Layout-sc-nxg1ff-0.dHrscT.vod-seekbar-time-labels {
    display: none !important;
}

.InjectLayout-sc-588ddc-0.seekbar-interaction-area {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.Layout-sc-nxg1ff-0.seekbar-bar {
    background: rgb(32 32 32);
}

.Layout-sc-nxg1ff-0.vod-seekbar-time-labels {
    display: none !important;
}
