h2 {
    margin-bottom: 4rem;
}

.oldtwitch-settings {
    margin: 2rem auto;
    width: 80%;
}


.settings-options {
    position: relative;
    width: 75%;
}

.settings-options .settings-option {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.settings-options .settings-option:first-child {
    margin-top: 0;
}

.settings-option .settings-option-title {
    font-size: 16px;
}


.settings-option .settings-option-action {
    position: absolute;
    right: 0;
}

.settings-option .settings-option-toggle {
    display: flex;
    background: #ffffff;
    border: 2px solid #bebebe;
    border-radius: 4px;
    transition: all .25s;
    cursor: pointer;
    height: 24px;
    width: 4rem;
    box-sizing: unset;
    padding-block: 0;
    padding-inline: 0;
    margin: auto 0;
    align-items: anchor-center;
}

.settings-option .settings-option-toggle .light {
    content: '';
    display: block;
    position: relative;
    background: #787878;
    border-radius: 4px;
    width: 100%;
    left: 2%;
    height: 92%;
    transition: all .25s;
}

.settings-option[data-value="undefined"] .settings-option-toggle .light::after {
    content: '';
    display: block;
    position: relative;
    border: 5px solid;
    border-radius: 4px;
    width: 100%;
    height: 90%;
    top: -4.5px;
    left: -5px;
    transition: all .25s;
    animation: alertButtonBorder 3s linear infinite;
}
.settings-option[data-value="true"] .settings-option-toggle .light {
    left: 49%;
    width: 50%;
}
.settings-option[data-value="false"] .settings-option-toggle .light {
    width: 50%;
}


.settings-option .settings-option-color-container {
    position: absolute;
    right: 0;
}

.settings-option-color-container .clr-field input {
    width: 10rem;
}


@keyframes alertButtonBorder {
    0% {border-color: rgb(255, 200, 0);}
    50% {border-color: rgba(0, 0, 0, 0);}
    100% {border-color: rgb(255, 200, 0);}
}


@media (max-width: 1600px) {
    .settings-options {
        width: 100%;
    }
}